<html data-namespace-typo3-fluid="true"
      xmlns:clib="http://typo3.org/ns/Tollwerk/TwComponentlibrary/ViewHelpers"
      xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers">

    <f:layout name="Fractal/Basic"/>

    <f:section name="HeaderIncludes">
        <f:format.raw>{headerIncludes}</f:format.raw>
    </f:section>

    <f:section name="HeaderCss">
        <f:for as="css" each="{headerCss}">
            <link href="{css -> clib:fractal.resource() -> f:format.raw()}" media="all" rel="stylesheet"/>
        </f:for>
    </f:section>

    <f:section name="HeaderJs">
        <f:for as="js" each="{headerJs}">
            <script src="{js -> clib:fractal.resource() -> f:format.raw()}"></script>
        </f:for>
    </f:section>

    <f:section name="Main">
        <form>{{{ yield }}}</form>
    </f:section>

    <f:section name="FooterJs">
        <f:for as="js" each="{footerJs}">
            <script src="{js -> clib:fractal.resource() -> f:format.raw()}"></script>
        </f:for>
    </f:section>

    <f:section name="FooterIncludes">
        <f:format.raw>{footerIncludes}</f:format.raw>
    </f:section>
</html>
