.color-system {
    text-align: right;
}

.color-system-hues {
    margin: .5em 0;
}

.color-original {
    margin: 0;
    color: #fff;
    font-size: 1vw;
    font-family: monospace;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    padding: .5vw 0;
    display: none;

    & span {
        cursor: help;
    }

    :checked ~ .color-system-hues & {
        display: block;
    }
}

.color-scale {
    text-align: left;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    font-size: 1vw;
    font-family: monospace;
    line-height: 1;

    & li {
        color: #000;
        height: auto;
        flex-grow: 1;
        flex-basis: 0;
        position: relative;
        padding: .5vw;

        &:nth-child(n+6) {
            color: #fff;
        }

        &:before {
            content: '';
            float: left;
            padding-top: 100%;
        }

        & span {
            cursor: help;
        }
    }
}

.color-hue {
}

.color-name {
    position: absolute;
    top: .5vw;
    right: .5vw;
}

.color-details {
    position: absolute;
    left: .5vw;
    bottom: .5vw;
}

.color-contrast,
.color-luminance {
    display: none;

    :checked ~ .color-system-hues .color-scale & {
        display: block;
    }
}
